* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  background: linear-gradient(145deg, #f8f8f8, rgba(36, 142, 146, 0.661));
}

body {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row-wise-split {
  display: flex;
  flex-direction: row;
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.834);
  transition: background-color 0.5s ease;
  border: 0.5px solid #d8d8d8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: center;
}

.container {
  width: 40%;
  max-width: 40%;
  margin: 10% 5%;
  height: auto;
  padding-left: 5px;
}

#text-input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border-color: #1668b0;
  border-width: 0.1cap;
  padding-left: 10px;
  font-size: medium;
  margin-top: 15px;
  margin-bottom: 5px;
}

input::placeholder {
  color: #999;
  font-size: 15px;
  opacity: 0.9;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0px;
}

.button:hover {
  background-color: rgb(34, 207, 155);
}

#download-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#download-btn:enabled {
  cursor: pointer;
}

.capsule {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  max-width: 60%;
  margin: 1% 0px;
  margin-right: 1%;
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.qrcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 300px;
}

#qrImage {
  max-width: 100%;
  height: auto;
  opacity: 0.1;
}

.scan-text {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.qr-fade-in {
  animation: fadeIn 0.5s ease forwards;
}
